<div id="login-box">
  <div class="left">
    <h1>Sign In</h1>

     <form #userLogForm="ngForm" (ngSubmit)="LoginUser(userLogForm)">

    <input type="text" name="email"  ngModel email="ngModel">

    <input type="password" name="password"  ngModel email="password">
    
     

    <input type="submit" name="signup_submit" value="Sign me In" />

     </form>
    
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button [routerLink]="['/register']" class="social-signin twitter">Register With Email</button>
    <button class="social-signin facebook">Log in with facebook</button>
    <button (click)="LoginGoogle()" class="social-signin google">Log in with Google</button>
  </div>
  <div class="or">OR</div>
</div>